<section class="auditinfo">
  <h3>Generic File Audit Events</h3>

  <% if !@events.empty? %>
    <table class="premis">
      <thead>
        <tr>
          <th class="time">Time</th>
          <th class="type">Type</th>
          <th class="outcome">Outcome</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="time"> <%= event.date_time.first %> </td>
            <td class="type"> <%= event.type.first %> </td>
  
            <td>
              <dl class="dl-horizontal dl-invert outcome">
                <dt>Detail</dt>
                <dd><%= event.detail.first %></dd>
                <dt>Outcome</dt>
                <dd><%= event.outcome.first %></dd>
                <dt>Outcome Detail</dt>
                <dd><%= event.outcome_detail.first %></dd>
                <dt>Outcome Information</dt>
                <dd><%= event.outcome_information.first %></dd>
              </dl>
            </td>
  
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @events %>

  <% else %>
    <p> There are no audit events. </p>
  <% end %>

</section>
