<ol class="breadcrumb">
  <li><a href="#"><%= link_to @generic_file.intellectual_object.institution.name, @generic_file.intellectual_object.institution %></a></li> >
  <li><a href="#"><%= link_to @generic_file.intellectual_object.title, @generic_file.intellectual_object %></a></li> >
  <li class="active"><%= @generic_file.uri %></li>
</ol>


<div class="page-header">
  <h1><%= @generic_file.uri %></h1>
</div>

<div class="object_info">
  <dl class="dl-horizontal dl-invert">
    <dt>Institution</dt>
    <dd><%= link_to @generic_file.intellectual_object.institution.name, @generic_file.intellectual_object.institution %> [<%= @generic_file.intellectual_object.institution.brief_name %>]</dd>
    <dt>Intellectual Object</dt>
    <dd><%= link_to @generic_file.intellectual_object.title, @generic_file.intellectual_object %> [<%= @generic_file.intellectual_object.rights %>]</dd>
    <dt>MimeType<dt>
    <dd><%= @generic_file.format %></dd>
    <dt>Filesize<dt>
    <dd><%= number_to_human_size(@generic_file.size) %></dd>
    <dt>Created</dt>
    <dd><%= @generic_file.created %></dd>
    <dt>Modified</dt>
    <dd><%= @generic_file.modified %></dd>
    <dt>Checksum</dt>
    <% @generic_file.checksum.each do |checksum| %>
    <dd><%= checksum.algorithm.first %>:<%= checksum.digest.first %> generated <%= time_ago_in_words(checksum.datetime.first) %> ago</dd>
    <% end %>
  </dl>
</div>

<%= render 'premis_events' %>
