<%= simple_form_for(@institution, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :institution_identifier %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Submit", {class: "btn btn-success"} %>
    <%= link_to @institution, {class: "btn doc-action-btn btn-cancel"} do %>
        <i class="glyphicon glyphicon-remove"></i> Cancel
    <% end %>
  </div>
<% end %>
