<div class="page-header">
  <h1><%= @institution.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><a href="#objects" data-toggle="tab">Objects</a></li>
  <li><a href="#users" data-toggle="tab">Users</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="summary">
    <dl class="dl-horizontal">
      <dt>Users</dt>
      <dd><%= @institution.users.count %></dd>
      <dt>Objects</dt>
      <dd><%= @institution.description_objects.count %></dd>
    </dl>
  </div>

  <div class="tab-pane" id="objects">
    <table class="table table-condensed">
      <h3>50 Most Recent Objects</h3>
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @institution.description_objects.each do |description_object| %>
          <tr>
            <td><%= description_object.title %></td>
            <td>
              <%= show_link(description_object) %>
              <%= edit_link(description_object) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="users">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @institution.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= show_link(user) %>
              <%= edit_link(user) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

