<div class="page-header">
  <h1><%= @institution.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><%= link_to 'Objects', institution_intellectual_objects_path(@institution) %></li>
  <li><a href="#users" data-toggle="tab">Users</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="summary">
    <dl class="dl-horizontal">
      <dt>Users</dt>
      <dd><%= @institution.users.count %></dd>
      <dt>Objects</dt>
      <dd><%= @institution.intellectual_objects.count %></dd>
    </dl>

    <%= render "shared/resque_jobs" %>

  </div>

  <div class="tab-pane" id="users">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @institution.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= show_link(user) %>
              <%= edit_link(user) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

