<div class="page-header">
  <h1>Change Password</h1>
</div>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
    <div class="field">
      <%= f.label :password, "Password" %><br />
      <%= f.password_field :password, :autocomplete => "off"  %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %>
    </div>
    <div class="action_container">
      <%= f.submit %>
    </div>
<% end %>