<% if @institution %>
    <ol class="breadcrumb">
      <li><%= link_to @institution.title, @institution %></li>
      <li class="active">Events</li>
    </ol>
<% elsif @intellectual_object %>
    <ol class="breadcrumb">
      <li><%= link_to @intellectual_object.institution.title, @intellectual_object.institution %></li>
      <li><%= link_to @intellectual_object.title, @intellectual_object  %></li>
      <li class="active">Events</li>
    </ol>
<% elsif @generic_file %>
    <ol class="breadcrumb">
      <li><%= link_to @generic_file.intellectual_object.institution.title, @generic_file.intellectual_object.institution %></li>
      <li><%= link_to @generic_file.intellectual_object.title, @generic_file.intellectual_object %></li>
      <li><%= link_to @generic_file.display, @generic_file %></li>
      <li class="active">Events</li>
    </ol>
<% end %>