<% # container for a single doc -%>
<div class="document <%= render_document_class event %>">
  <% # header bar for doc items in index view -%>
  <div class="documentHeader clearfix">

    <%- # main title -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <% counter = document_counter_with_offset(event_counter) %>
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
      <%= link_to @generic_file.display, @generic_file %>
    </h5>
  </div>

  <dl class="document-metadata dl-horizontal dl-invert">
    <dt> Event Identifier: </dt>
    <dd> <%= "#{event.id}" %> </dd>

    <dt> Event Type: </dt>
    <dd> <%= Array(event['event_type_ssim']).first %> </dd>

    <dt> Outcome: </dt>
    <dd> <%= display_event_outcome(event) %> </dd>

    <dt> DateTime: </dt>
    <dd> <%= Array(event['event_date_time_ssim']).first %> </dd>
  </dl>

</div>
