<% # container for a single doc -%>
<div class="document <%= render_document_class event %>">
  <% # header bar for doc items in index view -%>
  <div class="documentHeader clearfix">

    <%- # main title -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <% counter = document_counter_with_offset(event_counter) %>
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
      <%= parent_object_link(event) %>
    </h5>
  </div>

  <dl class="document-metadata dl-horizontal dl-invert">
    <dt> Event Identifier: </dt>
    <dd> <%= "#{event.id}" %> </dd>

    <dt> Event Type: </dt>
    <dd> <%= Array(event['event_type_ssim']).first %> </dd>

    <dt> DateTime: </dt>
    <dd> <%= Array(event['event_date_time_ssim']).first %> </dd>

    <dt> Detail: </dt>
    <dd> <%= Array(event['event_detail_ssim']).first %> </dd>

    <dt> Outcome: </dt>
    <dd> <%= display_event_outcome(event) %> </dd>

    <% unless Array(event['event_outcome_detail_ssim']).empty? %>
        <dt>Outcome Details: </dt>
        <dd> <%= Array(event['event_outcome_detail_ssim']).first %> </dd>
    <% end %>

    <% unless Array(event['event_outcome_information_ssim']).empty? %>
        <dt> Outcome Information: </dt>
        <dd> <%= Array(event['event_outcome_information_ssim']).first %> </dd>
    <% end %>

    <% unless Array(event['event_object_ssim']).empty? %>
        <dt> Object: </dt>
        <dd> <%= Array(event['event_object_ssim']).first %> </dd>
    <% end %>

    <% unless Array(event['event_agent_ssim']).empty? %>
        <dt> Agent: </dt>
        <dd> <%= Array(event['event_agent_ssim']).first %> </dd>
    <% end %>

  </dl>

</div>