<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Etag</th>
    <th>Institution</th>
    <th>Processed</th>
    <th>Action</th>
    <th>Stage</th>
    <th>Status</th>
    <% if current_user.admin? %>
        <th>Reviewed?</th>
        <th>Purged?</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr class="<%= item.status %>">
        <td>
          <input type="checkbox" class="review" name="reviewed" value="reviewed" id="r_<%= item.id %>" onclick="reviewAction(<%= item.id %>)">
        </td>
        <td><a href="<%= processed_item_path(id: item.id) %>"><%= item.name %></a></td>
        <td><%= item.etag %></td>
        <td><%= item.institution %></td>
        <td><%= time_ago_in_words item.date %></td>
        <td><%= item.action %></td>
        <td><%= item.stage %></td>
        <td><%= item.status %></td>
        <% if current_user.admin? %>
            <td><%= item.reviewed %></td>
            <td><%= item.purge %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<% if (@items.length == 0) %>
    <p>There are no items to display at this time.</p>
<% end %>
<div class="paging">
  <%= paginate @items %>
</div>