<div id="sortAndPerPage">
  <div class="page_links">
    <span class="page_entries">
       <strong><%= @first_number %></strong> - <strong><%= @second_number %></strong> of <strong><%= @total_number %></strong>
    </span>
  </div>
  <% if current_user.admin? || current_user.institutional_admin? %>
      <%= render 'review_items' %>
  <% end %>
  <div class="search-widgets pull-right">
    <div id="sort-dropdown" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <a href="#">Sort by </a>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="<%= current_path('pi_sort', 'date') %>">Processed Date</a></li>
        <li><a href="<%= current_path('pi_sort', 'name') %>">Name</a></li>
        <% if current_user.admin? %>
          <li><a href="<%= current_path('pi_sort', 'institution') %>">Institution</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>