<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, current_user.institution %></a></li>
  </ol>

  <section class="page-header">
    <h2>Processed Items</h2>
  </section>

  <section class="queue">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Etag</th>
        <th>Bag Date</th>
        <th>Bucket</th>
        <th>User</th>
        <th>Institution</th>
        <th>Date</th>
        <th>Note</th>
        <th>Type</th>
        <th>Stage</th>
        <th>Status</th>
        <th>Outcome</th>
      </tr>
      </thead>
      <tbody>
      <% @processed_items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.etag %></td>
            <td><%= item.bag_date %></td>
            <td><%= item.bucket %></td>
            <td><%= item.user %></td>
            <td><%= item.institution %></td>
            <td><%= item.date %></td>
            <td><%= item.note %></td>
            <td><%= item.action %></td>
            <td><%= item.stage %></td>
            <td><%= item.status %></td>
            <td><%= item.outcome %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>