<div id="sidebar" class="col-md-3">
  <div id="facets" class="facets sidenav">
    <h3> Filter: </h3>

    <div id="facet-panel-collapse" class="collapse panel-group">

      <div class="panel panel-default">
        <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-status">
          <h5 class="panel-title">Status</h5>
        </div>
        <div id="filter-status" class="panel-collapse facet-content collapse" style="height: 0px;">
          <div class="panel-body">
            <ul class="facet-values list-unstyle">
              <% @statuses.each do |status| %>
                  <% if status == @selected %>
                      <% class_variable = "selected" %>
                  <% else %>
                      <% class_variable = "" %>
                  <% end %>
                  <li>
                    <a href="<%= processed_items_path(status: status) %>" class="<%= class_variable %> filter"><%= status %></a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-stage">
          <h5 class="panel-title">Stage</h5>
        </div>
        <div id="filter-stage" class="panel-collapse facet-content collapse" style="height: 0px;">
          <div class="panel-body">
            <ul class="facet-values list-unstyle">
              <% @stages.each do |stage| %>
                  <% if stage == @selected %>
                      <% class_variable = "selected" %>
                  <% else %>
                      <% class_variable = "" %>
                  <% end %>
                  <li>
                    <a href="<%= processed_items_path(stage: stage) %>" class="<%= class_variable %> filter"><%= stage %></a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-action">
          <h5 class="panel-title">Action</h5>
        </div>
        <div id="filter-action" class="panel-collapse facet-content collapse" style="height: 0px;">
          <div class="panel-body">
            <ul class="facet-values list-unstyle">
              <% @actions.each do |action| %>
                  <% if action == @selected %>
                      <% class_variable = "selected" %>
                  <% else %>
                      <% class_variable = "" %>
                  <% end %>
                  <li>
                    <a href="<%= processed_items_path(actions: action) %>" class="<%= class_variable %> filter"><%= action %></a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <% if current_user.admin? %>
          <div class="panel panel-default">
            <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-institution">
              <h5 class="panel-title">Institution</h5>
            </div>
            <div id="filter-institution" class="panel-collapse facet-content collapse" style="height: 0px;">
              <div class="panel-body">
                <ul class="facet-values list-unstyle">
                  <% @institutions.each do |inst| %>
                      <% if inst == @selected %>
                          <% class_variable = "selected" %>
                      <% else %>
                          <% class_variable = "" %>
                      <% end %>
                      <li>
                        <a href="<%= processed_items_path(institution: inst) %>" class="<%= class_variable %> filter"><%= inst %></a>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
      <% end %>

      <div class="panel panel-default">
        <script>
            $(".filter_div").toggle()
        </script>
        <div class="panel-heading">
          <h5 class="panel-title">
          <span class="glyphicon glyphicon-remove-circle">
          <%= link_to raw("Remove Filters"), processed_items_path %>
          </span>
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="content" class="col-md-9">

  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Mark ...
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
        <%= link_to raw("Selected as Reviewed"),
                    '#',
                    {tabindex: -1, role: "menuitem", onclick: "callHandleSelected()"} %>
      </li>
      <li role="presentation">
        <%= link_to raw("All as Reviewed"),
                    {:controller => "processed_item", :action => "review_all"},
                    {tabindex: -1, role: "menuitem"} %>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
        <%= link_to raw("All failed for Purge"),
                    {:controller => "processed_item", :action => "purge_all"},
                    {tabindex: -1, role: "menuitem"} %>
      </li>
    </ul>
  </div>

  <section class="page-header">
    <h2>Processed Items</h2>
  </section>

  <section id="itemTable" class="queue">
    <%= render 'item_table' %>
  </section>
</div>
