<div id="content" class="col-md-10">

  <section class="page-header">
    <h2>Processed Items</h2>
  </section>
  <div id="facets" class="facets sidenav">
    <h3> Filter By: </h3>
    <div id="facet-panel-collapse" class="collapse panel-group">
      <div class="filter"><span>
        <h4>Status</h4>
      </span>
      <div id="status">
        <ul>
          <% @statuses.each do |status| %>
              <li><a href="<%= processed_items_path(status: status) %>"><%= status %></a></li>
          <% end %>
        </ul>
      </div></div>
      <div class="filter"><span>
        <h4>Stage</h4>
      </span>
      <div id="stage">
        <ul>
          <% @stages.each do |stage| %>
              <li><a href="<%= processed_items_path(stage: stage) %>"><%= stage %></a></li>
          <% end %>
        </ul>
      </div></div>
      <div class="filter"><span>
        <h4>Action</h4>
      </span>
      <div id="action">
        <ul>
          <% @actions.each do |action| %>
              <li><a href="<%= processed_items_path(actions: action) %>"><%= action %></a></li>
          <% end %>
        </ul>
      </div></div>
    </div>
    <span id="remove">
        <a class="btn btn-normal" href="<%= processed_items_path %>">Remove Filters</a>
      </span>
  </div>
  <section class="queue">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Etag</th>
        <th>Institution</th>
        <th>Processing Date</th>
        <th>Action</th>
        <th>Stage</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
          <tr class="<%= item.status %>">
            <td><a href="<%= processed_item_path(id: item.id) %>"><%= item.name %></a></td>
            <td><%= item.etag %></td>
            <td><%= item.institution %></td>
            <td><%= item.date %></td>
            <td><%= item.action %></td>
            <td><%= item.stage %></td>
            <td><%= item.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="paging">
      <%= paginate @items %>
    </div>
  </section>
</div>
