<div id="content" class="col-md-9 show-document">

  <ol class="breadcrumb">
    <li><%= link_to @intellectual_object.institution.name, @intellectual_object.institution %></li>
    <li class="active"><%= @intellectual_object.title %></li>
  </ol>

  <div class="page-header">
    <h1><%= @intellectual_object.title %></h1>
  </div>

  <div class="object_info">
    <dl class="dl-horizontal dl-invert">
      <dt>Institution</dt>
      <dd><%= link_to @intellectual_object.institution.name, @intellectual_object.institution %> [<%= @intellectual_object.institution.brief_name %>]</dd>
      <dt>Access</dt>
      <dd><%= @intellectual_object.access %></dd>
      <dt>Identifier</dt>
      <dd><%= @intellectual_object.identifier %></dd>
      <dt>Bag Name</dt>
      <dd><%= @intellectual_object.bag_name %></dd>
      <dt> Last Modified </dt>
      <dd> <%= @intellectual_object.modified_date %> </dd>
      <dt>Description</dt>
      <dd><%= @intellectual_object.description %></dd>
      <% if @intellectual_object.alt_identifier.count >= 1  %>
          <dt>Alternate Identifiers</dt>
      <% end %>
      <% @intellectual_object.alt_identifier.each do |alt_ident| %>
          <dd><%= alt_ident %></dd>
      <% end %>
    </dl>
  </div>

  <div class="panel">
    <%= link_to intellectual_object_events_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-eye-open"></i> View Events
    <% end %>
    <% unless @intellectual_object.state == 'D' %>
      <% if current_user.admin? || (current_user.institutional_admin? && current_user.institution_pid == @intellectual_object.institution_id) %>
        <%= link_to intellectual_object_restore_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-download"></i> Restore Object
        <% end %>
      <% end %>
    <% end %>
    <%= render_document_sidebar_partial %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <% file_count = @intellectual_object.gf_count %>
        <%= file_count %>
        <% if file_count == 1 %>
          File Preserved
        <% else %>
          Files Preserved
        <% end %>
    </h3>
    </div>
    <div class="panel-body">
      <% @intellectual_object.generic_files.each do |gf| %>
          <% unless gf.state == 'D' %>
            <h4><%= link_to gf.display, gf  %></h4>
            <dl class="dl-horizontal dl-invert">
              <dt>Last Fixity</dt>
              <dd><span class="label label-success">Success</span></dd>
              <dt>MimeType<dt>
              <dd><%= gf.file_format %></dd>
              <dt>Filesize<dt>
              <dd><%= number_to_human_size(gf.size) %></dd>
            </dl>
          <% end %>
      <% end %>
    </div>
  </div>

</div>
