<div id="content" class="col-md-9 show-document">

  <ol class="breadcrumb">
    <li><%= link_to @intellectual_object.institution.name, @intellectual_object.institution %></li>
    <li class="active"><%= @intellectual_object.title %></li>
  </ol>

  <div class="page-header">
    <h1><%= @intellectual_object.title %></h1>
  </div>

  <div class="object_info">
    <dl class="dl-horizontal dl-invert">
      <dt>Institution</dt>
      <dd><%= link_to @intellectual_object.institution.name, @intellectual_object.institution %> [<%= @intellectual_object.institution.brief_name %>]</dd>
      <dt>Access</dt>
      <dd><%= @intellectual_object.access %></dd>
      <dt>Identifier</dt>
      <dd><%= @intellectual_object.identifier %></dd>
      <dt>Bag Name</dt>
      <dd><%= @intellectual_object.bag_name %></dd>
      <dt> Last Modified </dt>
      <dd> <%= @intellectual_object.modified_date %> </dd>
      <dt>Description</dt>
      <dd><%= @intellectual_object.description %></dd>
      <% if @intellectual_object.alt_identifier.count >= 1  %>
          <dt>Alternate Identifiers</dt>
      <% end %>
      <% @intellectual_object.alt_identifier.each do |alt_ident| %>
          <dd><%= alt_ident %></dd>
      <% end %>
    </dl>
  </div>

  <div class="panel">
    <%= link_to intellectual_object_events_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-eye-open"></i> View Events
    <% end %>
    <%= link_to intellectual_object_files_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-list-alt"></i> View Preserved Files
    <% end %>
    <% unless @intellectual_object.state == 'D' %>
      <% if current_user.admin? || (current_user.institutional_admin? && current_user.institution_pid == @intellectual_object.institution_id) %>
        <%= link_to intellectual_object_restore_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-download"></i> Restore Object
        <% end %>
      <% end %>
      <%= render_document_sidebar_partial %>
    <% end %>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Aggregate Data About Preserved Files
      </h3>
      <% count = 0 %>
      <% @files.each {count = count + 1} %>
      <p>Solr Query Check: <%= count %></p>
    </div>

    <div class="panel-body">
      <dl class="dl-horizontal dl-invert">
        <% aggregate = IoAggregation.where(identifier: @intellectual_object.id).first %>
        <dt>Files Preserved </dt>
        <dd><%= aggregate.file_count %></dd>
        <dt>Total File Size<dt>
        <dd><%= number_to_human_size(aggregate.file_size) %></dd>
        <% aggregate.format_to_map.each do |key, value| %>
            <dt><%= key %></dt>
            <dd><%= value %></dd>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

</div>
