<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" xmlns="http://www.w3.org/1999/html" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= full_title(yield(:title)) %></title>

  <%= favicon_link_tag asset_path('aptrust/favicon.ico') %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">


</head>
<body>

<%= render 'shared/ie7_warn' %>

<% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
<body onload="<%= onload_text %>" class="<%= render_body_class %>">
<%= render :partial => 'shared/header_navbar' %>

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

<div class="container">
  <%= render 'shared/flash_msg' %>

  <%= yield %>

  <hr>

  <%= render 'shared/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div> <!-- /container -->

</body>
</html>